 <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
        background-color: #67ac8f;
      }
      label{
        font-size: 16px;
        font-style: italic
      }
      #botao2{
        border-radius: 50px;
      }

      </style> 